[submodule "p0-statistics"]
	path = p0-statistics
	url = git@github.com:temttae/eecs281-p0-statistics.git
[submodule "p1-back-to-the-ship"]
	path = p1-back-to-the-ship
	url = git@github.com:temttae/eecs281-p1-back-to-the-ship.git
[submodule "p2a-stock-market-simulation"]
	path = p2a-stock-market-simulation
	url = git@github.com:temttae/eecs281-p2a-stock-market-simulation.git
[submodule "p2b-priority-queues"]
	path = p2b-priority-queues
	url = git@github.com:temttae/eecs281-p2b-priority-queues.git
